<!DOCTYPE html>
<html>
  <head>
    <title>Form4tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <%# amcharts %>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/stock.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <%# highcharts %>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/modules/offline-exporting.js"></script>
    <script src="http://code.highcharts.com/modules/export-data.js"></script>
    <script src="http://code.highcharts.com/modules/series-label.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>
  </body>
</html>
